.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.materialContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.edificiosContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

.materialCard {
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    cursor: pointer;
}

